- name: Create Temp Entry
        run: |
          mkdir -p queue
          EVENT_TYPE="${{ github.event.action }}"
          if [ "$EVENT_TYPE" == "new_video_upload" ]; then
            cat <<EOF > queue/vid_${{ github.event.client_payload.file_id }}.json
            {
              "title": "${{ github.event.client_payload.video_title }}",
              "file_id": "${{ github.event.client_payload.file_id }}",
              "timestamp": $(date +%s)
            }
            EOF
          elif [ "$EVENT_TYPE" == "update_like" ]; then
            # بنعمل نوتة لايك باسم فريد (تايم ستامب + راندوم) عشان لو كذا لايك وصلوا مع بعض
            cat <<EOF > queue/like_${{ github.event.client_payload.video_id }}_$RANDOM.json
            {
              "video_id": "${{ github.event.client_payload.video_id }}",
              "action": "${{ github.event.client_payload.action }}",
              "timestamp": $(date +%s)
            }
            EOF
          fi
